[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
pymysql = "*"
flask-mysqldb = "*"
mysql-connector = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
